body {
    background-color: rgb(222, 184, 135);

}

h1 {
    color: rgba(22, 28, 68, 0.979);
    font-size: 80px;
    font-family: "Relative Book Pro", sans-serif, sans-serif;
    margin-bottom: 10px;
    
}

p {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 15px;
}

footer { background-color: rgb(222, 184, 135);
margin-top: 24px;
text-shadow: 0cqmax;}


