body {
    background-color: black;

}

h1 {
    color: rgb(224, 63, 14);
    font-size: 70px;
    margin-bottom: 50px;
    
}

p {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 15px;
}